# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing
.coverage
.pytest_cache/
htmlcov/
.tox/
.nox/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Distribution
dist/
build/
*.egg-info/

# macOS
.DS_Store

# Project Spcficic
docs/
specs/
